<p id="notice"><%= notice %></p>

<h1>Sudokus</h1>

<table>
  <thead>
    <tr>
      <th>Ncolumns</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sudokus.each do |sudoku| %>
      <tr>
        <td><%= sudoku.ncolumns %></td>
        <td><%= link_to 'Show', sudoku %></td>
        <td><%= link_to 'Edit', edit_sudoku_path(sudoku) %></td>
        <td><%= link_to 'Destroy', sudoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sudoku', new_sudoku_path %>
