<h1>New Sudoku</h1>
<%= form_with(model: @sudoku, local: true) do |form| %>
  <% i = 0 %>
  <%= form.fields_for :rows do |row_form| %>
    <% j = 0 %>
    <%= row_form.fields_for :values do |value_form| %>
      <%= value_form.hidden_field :number, value: @values[i][j] %>
      <% j += 1 %>
    <% end %>
    <% i += 1 %>
  <% end %>
  <%= form.submit %>
<% end %>
